body {
	background-color: #dfe1ff;
	padding: 20px;
	font-family: sans-serif;
}
input{
	width: 100px;
	height: 25px;
	font-size: 15px;
	padding-left: 5px;
}
button {
	width: 70px;
	height: 30px;
	font-size: 15px;
	padding-left: 5px;
}
table {
	border: 1px solid black;
 	border-collapse: collapse;
 	width: 1470px;
 	background-color: white;
}
th, td {
	text-align: center;
	border: 1px solid black;
 	padding: 10px;
}
thead {
	background-color: whitesmoke;
}
#tableDiv {
	margin-block-start: 0.83em;
}